/*
Configuration file
- contains all variable declarations and mixin function definitions
*/

$primary-color: rgb(1, 65, 112);
$secondary-color: rgb(255, 170, 5);
$show-home-image: true;
$home-image: url("../img/background.jpg");
$background-opacity: 0.8;

@mixin EaseOut{
   transition: all 0.5s ease-out;
}

@mixin Background{
  @if $show-home-image{
    background: $home-image;
    background-attachment: fixed;
    background-size: cover;

    &:after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($primary-color, $background-opacity);
      z-index: -1;
    }
  }
}
